---
import MainLayout from "../layouts/main.astro";
import ImgLoad from "../components/imgload.astro"
import img11 from "../imgs/img11.jpg";
import img12 from "../imgs/img12.jpg";
import img13 from "../imgs/img13.jpg";
import img14 from "../imgs/img14.jpg";
import img15 from "../imgs/img15.jpg";
import img16 from "../imgs/img16.jpg";
import img17 from "../imgs/img17.jpg";
import img18 from "../imgs/img18.jpg";
import img19 from "../imgs/img19.jpg";
import img20 from "../imgs/img20.jpg";
import img21 from "../imgs/img21.jpg";
import img22 from "../imgs/img22.jpg";
import img23 from "../imgs/img23.jpg";
import img24 from "../imgs/img24.jpg";
---

<MainLayout title="Emily D'Silva">
    <div class="group">
        <p class="title">Board Games</p>
        <p>
            In my free time I love playing boardgames with my friends and
            family. One of my favourites is Ark Nova, a complex zoo building
            game that gets competitive very quickly. I also really enjoy
            playing Root, which is a combative woodland game where each player
            gets entirely different rules, playstyles, and ways to get points.
        </p>
        <br>
    </div>
    <hr>
    <div class="group">
        <p class="title">Photography</p>
        <p>
            I love taking photos during golden hour (usually around 4 - 8pm
            depending on the time of year) and black and white photos because of
            the definition and contrasts that appear when all the colour is
            stripped away. I also have done a bit of film camera shooting and
            darkroom printing, which is something that I hope to get more experience with in the future.
        </p>
        <div class="group">
            <h2>B&W</h2>

            <ImgLoad src={img11} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img12} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img13} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img16} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img15} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img14} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img17} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
        </div>
    </div>
    <br />
    <hr style="width:40vw;">
    <div class="group">
        <div class="group">
            <h2>Golden Hour</h2>
            <ImgLoad src={img18} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img24} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img23} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img21} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img19} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img20} width={300} alt=""/>
            <!-- </div>
                <div class ="column"> -->
            <ImgLoad src={img22} width={300} alt=""/>
        </div>
    </div>
    <hr />
    <br /><br />
</MainLayout>
